{%- assign sessions = site.data.t[page.lang].sessions -%}
<section id="sessions">
  <div class="container">
    <h1>{{ sessions.title }}</h1>
    <ul class="sessions">
      {% assign time = "" %}
        {%- for session in site.data.sessions -%}
          {% if time != session.startTime %}
            {% if time != "" %}
            </ul>
            </li>
            {%- endif -%}
          <li>
            <p>
              <span class="start">{{session.startTime}}</span> -
              <span class="end">{{session.endTime}}</span>
            </p>
          <ul>
          {% assign time = session.startTime %}
          {%- endif -%}

        <li class="{{session.room | downcase}}">
          <p class="title">{{session.title}}</p>
          <ul>
            {%- for speaker in session.speaker -%}
              <li>{{speaker.name}}</li>
            {%- endfor -%}
          </ul>
          <p class="room"><span>{{session.room}}</span><br/>
          {% if session.language != "es" %}
            <span>{{session.language}}</span>
          {%- endif -%}</p>
          <span class="chevron">{%- include chevron-down.svg -%}</span>
          <div class="description">{{session.description | markdownify }}</div>
          <span class="chevron-bottom hide">{%- include chevron-down.svg -%}</span>
        </li>
      {%- endfor -%}
      </ul>
      </li>
    </ul>
  </div>
</section>

<script>
  var sessionsNodes = document.querySelectorAll('#sessions>div>ul>li>ul>li');
  function toggleSessionsChevrons(querySelector, isOpen){
    const topChevron = querySelector('.chevron');
    const bottomChevron = querySelector('.chevron-bottom');
    topChevron.classList.toggle('hide', isOpen);
    bottomChevron.classList.toggle('hide', !isOpen);
  }
  function toggleSessionsOpen(){
    toggleSessionsChevrons(
      (q) => this.querySelector(q),
      !this.classList.contains('open')
    );
    this.classList.toggle('open');
    window.scrollTo({top:this.offsetTop});
  };
  sessionsNodes.forEach((node) => node.addEventListener('click', toggleSessionsOpen));
</script>
