{%- assign workshops = site.data.t[page.lang].workshops -%}
<section id="workshops">
  <div class="container">
    <h1>{{ workshops.title }}</h1>
    <ul class="sessions">
      {% assign time = "" %}
      {%- for session in site.data.workshops -%}
        {% if time != session.startTime %}
          {% if time != "" %}</ul></li>{%- endif -%}
          <li>
            <p class="workshop-time">
              <span class="start">{{session.startTime}}</span> -
              <span class="end">{{session.endTime}}</span>
            </p>
            <ul>
          {% assign time = session.startTime %}
        {%- endif -%}

        <li class="workshops">
          <p class="title">{{session.title}}</p>
          <ul>
            {%- for speaker in session.speaker -%}
              <li>{{speaker.name}}</li>
            {%- endfor -%}
          </ul>
          <p class="room">Sala: <span>{{session.room}}</span></p>
          {% if session.registrationLink | strip_newlines != "" %}
          <p class="registration-link"><a href="{{session.registrationLink}}">🎫 Apúntate aquí</a></p>
          {%- endif -%}
          <span class="chevron">{%- include chevron-down.svg -%}</span>
          <div class="description">{{session.description | markdownify }}</div>
          <span class="chevron-bottom hide">{%- include chevron-down.svg -%}</span>
        </li>
      {%- endfor -%}
      </ul></li>
    </ul>
  </div>
</section>

<script>
  var workshopsNodes = document.querySelectorAll('#workshops>div>ul>li>ul>li');
  function toggleWorkshopsChevrons(querySelector, isOpen){
    const topChevron = querySelector('.chevron');
    const bottomChevron = querySelector('.chevron-bottom');
    topChevron.classList.toggle('hide', isOpen);
    bottomChevron.classList.toggle('hide', !isOpen);
  }
  function toggleWorkshopsOpen(){
    toggleWorkshopsChevrons(
      (q) => this.querySelector(q),
      !this.classList.contains('open')
    );
    this.classList.toggle('open');
    window.scrollTo({top:this.offsetTop});
  };
  workshopsNodes.forEach((node) => node.addEventListener('click', toggleWorkshopsOpen));
</script>
