<div class="home {{page.lang}}">
  {%- include sections/main.html -%}
  {%- include sections/about.html -%}
    {%- include sections/sessions.html -%}
    {%- include sections/speakers.html -%}
  {% comment %}
    {%- include sections/kids.html -%}
    {%- include sections/upfront.html -%}
  {% endcomment %}
  {%- include sections/coc.html -%}
  {%- include sections/communities.html -%}
  {%- include sections/faq.html -%}
  {%- include sections/companies.html -%}
  {%- include sections/location.html -%}
</div>
